body{
                font-family: Calibri, sans-serif;
}
td{
                border: 1px solid black;
                text-align: center;
                height: 20PX;
                width: 76PX;
                
}
table{
                border-collapse: collapse;
                margin: auto;

}